            .input_for_serch {
              background-position: 10px 10px;
              background-repeat: no-repeat;
              width: 100%;
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            .table-condensed{
              font-size: 12px;
            }
            .castom-white{
                color: #f6fafa;
            }
            .clip {
                width: 100px;
                white-space: nowrap; /* Запрещаем перенос строк */
                overflow: hidden; /* Обрезаем все, что не помещается в область */
                text-overflow: ellipsis; /* Добавляем многоточие */
            }
            .borderd_table {
              table-layout: fixed;
              width: 100%;
              border-collapse: collapse;
              border: 2px solid rgb(90, 88, 88);
            }
            .start_page_body{
  
              min-height: 100vh;
              width: 100%;
              background-image: url("images/krugi_mnozhestvo_uvelichenie_121454_1920x1080.jpg");
            }
           
            .multiline { white-space: pre-line; }

           
            .btn-change-clr {
              border-radius: 20%;
              inline-size: 30px;
              block-size: 20px;
              
              /* Can set padding between outer circle and color swatch for Firefox here;
               * it doesn't support a color-swarch-wrapper pseudoclass
               */
              padding: 3px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(153, 153, 153);
            }
            
            /* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
            .btn-change-clr::-webkit-color-swatch-wrapper {
              padding: 1px;
            }
            
            /* Affects the inner circle, i.e. the current color selection */
            .btn-change-clr::-webkit-color-swatch {
              border-radius: 20%;
            }
            
            .btn-change-clr::-moz-color-swatch {
              border-radius: 20%;
            }
            
            .div-change-clr {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            #select_mol_id2 {
              max-width: 160px;
              font-size: small;
              max-height: 40px;
            }
            
          
          