            .input_for_serch {
              background-position: 10px 10px;
              background-repeat: no-repeat;
              width: 100%;
              font-size: 16px;
              padding: 12px 20px 12px 40px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }
            .table-condensed{
              font-size: 12px;
            }
            .castom-white{
                color: #f6fafa;
            }
            .clip {
                width: 100px;
                white-space: nowrap; /* Запрещаем перенос строк */
                overflow: hidden; /* Обрезаем все, что не помещается в область */
                text-overflow: ellipsis; /* Добавляем многоточие */
            }
            .borderd_table {
              table-layout: fixed;
              width: 100%;
              border-collapse: collapse;
              border: 2px solid rgb(90, 88, 88);
            }
            /*.table_radius {*/

            /*    */

            /*}*/
            .start_page_body{

              min-height: 100vh;
              width: 100%;
              background-image: url("images/krugi_mnozhestvo_uvelichenie_121454_1920x1080.jpg");
                /* Full height */
              height: 100%;

              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          
            .multiline { white-space: pre-line; }
            .shadow_for_the_table {
                box-shadow: 8px 7px 17px rgba(50, 41, 41, 0.46);
                border-radius: 12px 12px 12px 12px;
                /*border-color: #1a1d20;*/
                /*transform: scale(0.2)*/
            }
            /*.scale {*/
            /*    !*z-index: 1;*!*/
            /*    !*position: relative;*!*/
            /*    transition: 1s; !* Время эффекта *!*/
            /*}*/
            /*.scale:hover {*/
            /*    transform: scale(1.005); !* Увеличиваем масштаб *!*/
            /*}*/
           
            .btn-change-clr {
              border-radius: 20%;
              inline-size: 30px;
              block-size: 20px;
              
              /* Can set padding between outer circle and color swatch for Firefox here;
               * it doesn't support a color-swarch-wrapper pseudoclass
               */
              padding: 3px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(153, 153, 153);
            }
            
            /* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
            .btn-change-clr::-webkit-color-swatch-wrapper {
              padding: 1px;
            }
            
            /* Affects the inner circle, i.e. the current color selection */
            .btn-change-clr::-webkit-color-swatch {
              border-radius: 20%;
            }
            
            .btn-change-clr::-moz-color-swatch {
              border-radius: 20%;
            }
            
            .div-change-clr {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            /*#select_mol_id2 {*/
            /*  max-width: 160px;*/
            /*  font-size: small;*/
            /*  max-height: 40px;*/
            /*}*/

            .serch_scrolled {
                position:fixed;
                top: 43px;
                left: 200px;
                width: 81.2%;
                /*animation-name: fadeInUp;*/
                /*animation-duration: 1s;*/
            }
            .side_nav_bar{
                position:sticky;
                top: 45px;
                left: 8px;
                max-width: 140px;
                align-self: start;
            }
            #sidebar ul{
                list-style: none;
                text-align: left;
            }
            #sidebar a{
                border-radius: .5em;
                padding: .40em;
                text-decoration: none;
                /*color: #000000;*/
                display: flex;
                align-items: center;
                gap: 1em;
            }

            #sidebar ul li.active a{
                color: #9b9f1a;
            }
            #sidebar a:hover{
                background-color: #043e79;
                color: #ffffff;
            }
            #div_of_obj{
                top: 45px;
                /*left: 8px;*/
                /*right: 8px;*/
                width: 15%;
                align-self: center;
                display: flex;

            }
            #div_of_obj ul{
                align-items: start;
                text-align: start;
                display: grid;
                /*border: #1a1d20 1px solid;*/

            }
            #div_of_obj li{
                border-radius: .5em;
                padding: .30em;
                text-decoration: none;
                /*color: #000000;*/
                display: flex;
                align-items: center;
                gap: 1em;
            }

            #div_of_obj ul li.active{
                color: #ffffff;
                background-color: #043e79;
            }
            #div_of_obj li:hover{
                cursor: pointer;
                background-color: #0968c8;
                color: #ffffff;
            }
            #col-ud-data{
                /*top: 43px;*/
                width: 100%;
                /*align-self: center;*/
                justify-content: center;
                height: 70%;
                /*align-items: start;*/
                padding: 20px;
                /*display: flex;*/
                /*height: 100%;*/
                /*animation-name: fadeInUp;*/
                /*animation-duration: 1s;*/
            }
            .row_ud_data{
                gap: 20px;
                /*top: 43px;*/
                display: flex;
                /*width: 95%;*/
                /*align-self: center;*/
                /*align-items: flex-start;*/

                /*animation-name: fadeInUp;*/
                /*animation-duration: 1s;*/
            }
            .ud_data{
                left: 200px;
                padding: 8px 12px;
                display: block;
                margin: 10px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
                /*width: 100%;*/
                box-sizing: border-box;
            }


            .custom-footer {
                display: flex;
                flex-shrink: 0;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;

                padding-top: calc(1rem);
                padding-right: calc(0.75rem);
                padding-bottom: calc(0.3rem);
                padding-left: calc(0.75rem);
                background-color: var(--bs-modal-footer-bg);
                border-bottom-right-radius: var(--bs-modal-inner-border-radius);
                border-bottom-left-radius: var(--bs-modal-inner-border-radius);
            }
            /*.anchor_item {*/
            /*    !*scroll-margin-block-start: ;*!*/
            /*    !*scroll-margin-top: 10rem;*!*/
            /*    scroll-padding-top: 100px;*/
            /*}*/
            html{
                scroll-padding-top: 155px;
            }
