<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="shortcut icon" href="../static/images/jruby.svg">
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../static/style_login_page.css">


</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Учет оборудования</header>
      <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            {{ form.login(size=20, placeholder='Введите свой Логин...') }}
            {{ form.password(placeholder="Введите свой пароль...") }}
            {{ form.submit(class="button") }}
      </form>
    </div>
  </div>
    <script>
        document.querySelector('#password').addEventListener('keypress', function (e) {
             if (e.key === 'Enter') {
            document.getElementById("btn_login").click();
        }
        });
    </script>
</body>
</html>
