<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>Многопортовые устройства</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/custom_style.css">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bad_scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/save_&_delete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/to_fill_modals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table-sort.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        <!-- document.getElementById(JSON.parse(localStorage.getItem("radio_check"))).click() -->
        document.getElementById("myInput").value = JSON.parse(localStorage.getItem("serch"));
        myFunction()
        localStorage.clear()
        });
    </script>

</head>
<body>
      <div class="modal fade" id="EditModal" data-bs-backdrop="static" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="EditModalLabel">Изменение данных об устройстве   </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
          </div>
          <div class="modal-body">
            <form>
                <label class="col-form-label" id="id_for_edit"></label>
               <div class="container">
                  <div class="row">
                      <div class="col-sm">
              <div class="mb-3">
                  <label class="col-form-label">Код:</label>
                   <input type="text"  class="form-control"  id = "edit_cod_id">
              </div>
                      </div>
               <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">Организация:</label>
                <input type="text"  class="form-control" id="edit_org_id">
              </div>
                      </div>
                      <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">Адрес:</label>
                <input type="text"  class="form-control" id="edit_address_id">
              </div>
                      </div>
                  </div>
               </div>
                <div class="container">
                   <div class="row">
                       <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">Тип устройства:</label>
                <input type="text"  class="form-control" id="edit_type_id">
              </div>
                       </div>
                       <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">Инвентарный номер:</label>
                <input type="text"  class="form-control" id="edit_Inv_id">
              </div>
                       </div>
               <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">№ накладной:</label>
                <input type="text"  class="form-control" id="edit_naklad_id">
              </div>
                       </div>
                   </div>
                </div>
                <div class="container">
                   <div class="row">
                       <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">Серийный номер:</label>
                <input type="text"  class="form-control" id="edit_Serial_id">
              </div>
                       </div>
                       <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">IP:</label>
                <input type="text"  class="form-control" id="edit_ip_id">
              </div>
                       </div>
                       <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">ОРШ:</label>
                <input type="text"  class="form-control" id="edit_orsh_id">
              </div>
                   </div>
                       <div class="col-sm">
              <div class="mb-3">
                <label class="col-form-label">Дата установки:</label>
                <input type="text"  class="form-control" id="edit_inst_date_id">
              </div>
                   </div>
                   </div>
                    <div class="mb-3">
                <label  class="col-form-label">Примечание:</label>
                <textarea  class="form-control" id="unit_note_id" cols="30" rows="3"></textarea>
              </div>
             </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="button_for_save_edit_row" name="button_for_save_edit_row">Сохранить</button>
              <button type="button" class="btn btn-primary" id="button_for_storage_ma_unit" name="button_for_save_edit_row">На склад</button>
            <button type="button" class="btn btn-primary" id="button_for_delete_row">Удалить</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Закрыть</button>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="inventModal" data-bs-backdrop="static" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inventModalLabel">Карточка устройства</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                <label class="col-form-label" id="id_buh"></label>
              <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <div class="mb-3">
                        <label class="col-form-label">Инвентарный номер:</label>
                        <input type="text" readonly class="form-control" name="name" id = "In_num">
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label class="col-form-label">МОЛ:</label>
                        <input type="text"  class="form-control" id="mol_id">
                      </div>
                    </div>
                  </div>
              </div>

              <div class="mb-3">
                <label class="col-form-label">Краткое описание:</label>
                <input type="text"  class="form-control" id="description_id">
              </div>
              <div class="mb-3">
                <label  class="col-form-label">Характеристика:</label>
                <textarea  class="form-control" id="char_id" cols="30" rows="7"></textarea>
              </div>
              <div class="mb-3">
                <label  class="col-form-label">Примечание:</label>
                <textarea  class="form-control" id="note_id" cols="30" rows="3"></textarea>
              </div>
                  </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id = "button_for_save_edit_buh_data" onclick="save_edit_buh_data()">Сохранить</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="add_new_units_Modal" data-bs-backdrop="static" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="AddNewUnits">Добавление новых устройств   </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-sm table-bordered" id="Table_for_add_new_units">
                  <thead>
                    <tr>
                      <th  style="cursor:pointer" scope="col">Код</th>
                      <th  style="cursor:pointer" scope="col">Организация</th>
                      <th  style="cursor:pointer" scope="col">Адрес</th>
                      <th class="th.sm" scope="col">ОРШ</th>
                    </tr>
                  </thead>
                  <tbody id = "new_ma_tbody_id">
                    <tr >
                      <td contenteditable="true"></td>
                      <td contenteditable="true"></td>
                      <td  contenteditable="true"></td>
                      <td contenteditable="true"></td>
                    </tr>
                  </tbody>
                </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="button_add_new_row" onclick="add_new_row('new_ma_tbody_id',4)">
                <i class="bi bi-plus-lg"></i>
            </button>
              <button type="button" class="btn btn-primary" id="button_del_row" onclick="del_row('new_ma_tbody_id')">
                  <i class="bi bi-dash-lg"></i>
              </button>
            <button type="button" class="btn btn-primary" id="button_for_save_new_units" onclick="add_new_units('new_ma_tbody_id','Object_ur_lic',this.id)">Сохранить</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="reload_page()" >Закрыть</button>
          </div>
        </div>
      </div>
    </div>
       <div class="modal" id="Change_pass"  data-bs-backdrop="static" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Изменить пароль</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <input type="password"  class="form-control"  id = "old_pass_id" placeholder="Старый пароль">
              </div>
              <div class="mb-3">
                <input type="password"  class="form-control" id="new_pass_id" placeholder="Новый пароль, не менее 6 символов">
              </div>
              <div class="mb-3">
                <input type="password"  class="form-control" id="new_pass_2_id" placeholder="Новый пароль павторно">
              </div>
              <div class="mb-3">
                  <label class="col-form-label" id="raport_chang_pass"></label>
              </div>
            </form>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="change_password();">Изменить пароль</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="SostavModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Состав устройства</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <div class="mb-3">
                        <label class="col-form-label">Устройство:</label>
                        <input type="text" readonly class="form-control" id="cod_id" >
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label class="col-form-label">Тип:</label>
                        <input type="text" readonly  class="form-control" id="type_id">
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label class="col-form-label">IP:</label>
                        <input type="text" readonly  class="form-control" id="ip_id" >
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="mb-3">
                        <label class="col-form-label">Серийный номер:</label>
                        <input type="text" readonly class="form-control" id="Serial_id" >
                      </div>
                    </div>
                  </div>
              </div>


              <div class="table-responsive small">
              <label class="col-form-label">Устройство:</label>
                <table class="table table-striped table-sm table-bordered" id="Sostav_Modal_table_unit">
                  <thead>
                    <tr>
                      <th scope="col">Тип</th>
                      {# <th scope="col">Наименование</th> #}
                      <th scope="col">Инвентарный номер</th>
                      <th scope="col">Заводской номер</th>
                      <th scope="col">Примечание</th>
                        <th style="width:70px"></th>
                    </tr>

                  </thead>
                    <tbody id="curent_MA_unit_tbody_id">
                        <tr></tr>
                    </tbody>
                  
                    
                </table>
                <label class="col-form-label">Модули:</label>
                <table class="table table-striped table-sm table-bordered" id="Sostav_Modal_table_modules">
                  <thead>
                    <tr>
                      <th scope="col">Тип</th>
                      {# <th scope="col">Наименование</th> #}
                      <th scope="col">Инвентарный номер</th>
                      <th scope="col">Заводской номер</th>
                      <th scope="col">Примечание</th>
                        <th style="width:70px"></th>
                    </tr>

                  </thead>
                    <tbody id="curent_MA_modules_tbody_id">
                        <tr></tr>
                    </tbody>
                  <tbody id="new_MA_modules_tbody_id">
                      <tr></tr>
                  </tbody>
                </table>
                </div>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="button_add_new_row" onclick="add_new_row('new_MA_modules_tbody_id',4)">
                <i class="bi bi-plus-lg"></i>
              </button>
              <button type="button" class="btn btn-primary" id="button_del_row" onclick="del_row('new_MA_modules_tbody_id')">
                  <i class="bi bi-dash-lg"></i>
              </button>
              <button type="button" class="btn btn-primary"  onclick="reset_tbodys('new_MA_modules_tbody_id', 'ma_add_modules',this.id,this.name)" id="btn_to_add_new_ma_modules">
                  <i class="bi bi-floppy"></i>
              </button>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="ma_storage_Modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Склад</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  ></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h5 class="h5">Многопортовые устройства</h5>
                     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary btn-sm"   onclick="add_new_row('new_MA_unit_tbody_storage_id',5)" >
                            <i class="bi bi-plus-lg"></i></button>
                        <button type="button" class="btn btn-primary btn-sm"  onclick="del_row('new_MA_unit_tbody_storage_id')">
                            <i class="bi bi-dash-lg"></i></button>
                </div>
                </div>
              <div class="table-responsive small">
                <table class="table table-striped table-sm table-bordered" id="ma_unit_Modal_table">
                  <thead>
                    <tr>
                      <th scope="col">Тип</th>
                      {# <th scope="col">Наименование</th> #}
                      <th scope="col">Инвентарный номер</th>
                      <th scope="col">Заводской номер</th>
                      <th scope="col">Примечание</th>
                        <th style="width:70px"></th>
                    </tr>

                  </thead>
                    <tbody id="current_MA_unit_tbody_storage_id">
                        <tr></tr>
                    </tbody>
                    <tbody id="new_MA_unit_tbody_storage_id">
                        <tr></tr>
                    </tbody>
                </table>
                </div>

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h5 class="h5">Дополнительные модули</h5>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-primary btn-sm"   onclick="add_new_row('new_MA_modules_tbody_storage_id',6)" >
                      <i class="bi bi-plus-lg"></i></button>
                  <button type="button" class="btn btn-primary btn-sm"  onclick="del_row('new_MA_modules_tbody_storage_id')">
                      <i class="bi bi-dash-lg"></i></button>
                </div>
                </div>
                <div class="table-responsive small">
                <table class="table table-striped table-sm table-bordered" id="ma_add_mod_Modal_table_storage">
                  <thead>
                    <tr>
                      <th scope="col">Тип</th>
                      {# <th scope="col">Наименование</th> #}
                      <th scope="col">Инвентарный номер</th>
                      <th scope="col">Заводской номер</th>
{#                      <th scope="col">Порт</th>#}
{#                      <th scope="col">Емкость</th>#}
                      <th scope="col">Примечание</th>
                        <th style="width:70px"></th>
                    </tr>

                  </thead>
                    <tbody id="current_MA_modules_tbody_storage_id">
                        <tr></tr>
                    </tbody>
                    <tbody id="new_MA_modules_tbody_storage_id">
                        <tr></tr>
                    </tbody>
                </table>
                </div>
            </form>
          </div>
          <div class="modal-footer">

              <button type="button" class="btn btn-primary"  onclick="storage_reset_tbody(this.id)" id="btn_to_add_new_ma_storage">
                  <i class="bi bi-floppy"></i>
              </button>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
                  $('#inventModal').on('show.bs.modal', function (e) {
                  $(this).find('form').trigger('reset');
                  invent_modal($(e.relatedTarget).data('inv'));
                  })
                  $('#Change_pass').on('show.bs.modal', function (e) {
                  $(this).find('form').trigger('reset');
                  document.getElementById("raport_chang_pass").textContent = ""
                  })
    </script>
    <script type="text/javascript">
                $('#EditModal').on('show.bs.modal', function (e) {
                  $(this).find('form').trigger('reset');
                  edit_ma_unit_modal($(e.relatedTarget).data('id'), e.relatedTarget.closest("tr").rowIndex);
                });
    </script>
{#      //копирование в таблицу из Excel 1#}
    <script type="text/javascript">
                document.getElementById('new_ma_tbody_id').addEventListener('paste', (e) => {
                  e.preventDefault(); // Отменяем дефолтное поведение вставки
                  let data = (e.clipboardData || window.clipboardData).getData('text');
                  // Преобразуем в формат CSV для удобства
                  let start_row= e.target.closest(`tr`).rowIndex-1;
                  let start_cell =e.target.closest(`td`).cellIndex
                  paste_to_cells_like_excel('new_ma_tbody_id', data, start_row, start_cell, 8);
                });
    </script>
    <script type="text/javascript">
                 $('#SostavModal').on('show.bs.modal', function (e) {
                  $(this).find('form').trigger('reset');
                  sostav_ma_unit($(e.relatedTarget).data('id'));
                 })

    </script>
    <script type="text/javascript">
                 $('#ma_storage_Modal').on('show.bs.modal', function (e) {
                  $(this).find('form').trigger('reset');
                  document.getElementById("btn_to_add_new_ma_storage").setAttribute("class", "btn btn-primary");
                  ma_unit_storage();
                  {# ma_add_module_storage(); #}
                 })
    </script>


     <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
        <div class="d-grid gap-2 d-md-flex float-left">
        <a href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" style="display: inline-block;" class="icon-link">
            <i class="bi bi-list h2 castom-white"></i>
        </a>
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Гомельский ЗУЭС</a>
        </div>
        <li class="nav-item dropdown nav justify-content-end">
              <a class="nav-link dropdown-toggle text-white nav justify-content-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user_name }}    </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Change_pass" href="#">Изменить пароль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
              </ul>
        </li>
    </header>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
        </div>

        <div class="offcanvas-body">
            <form>
            <div class="d-grid gap-3">
            <button class="btn btn-primary" type="submit" formaction="/main" >Оборудование PON</button>

             <button class="btn btn-secondary" type="button" disabled >Многопортовые устройства доступа</button>

                <button class="btn btn-primary" type="submit" disabled formaction="/other_property">Прочее имущество</button>
            </div>


                </form>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <main class="col-md-auto ms-sm-auto col-lg-12 px-md-5">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Многопортовые устройства</h1>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-primary btn-lg"  data-bs-toggle="modal" data-bs-target="#add_new_units_Modal" >
                      <i class="bi bi-plus-square-fill"></i>  Добавить</button>
                  <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#ma_storage_Modal">
                      <i class="bi bi-box2"></i>  Склад</button>
                </div></div>
              <div class="table-responsive small">
                    <div class="container-fluid">
                        <div class="form-check form-check-inline">
                      <input class="form-check-input" checked type="radio" name="radio_serch" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Поиск "И"</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="radio_serch" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2"  >Поиск "ИЛИ"</label>
                    </div>
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск по таблице.." autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" >
                    </div>
              </div>
                   <table class="table table-striped table-sm table-bordered table-sort table-hover" id="myTable">
                  <thead>
                    <tr>
                      <th  scope="col">id</th>
                      <th  scope="col">Код</th>
                      <th  scope="col">Тип</th>
                      <th  scope="col">Организация</th>
                      <th   scope="col">Адрес</th>
                      <th   scope="col">IP</th>
                      <th scope="col">Инвентарный</th>
                      <th class="th.sm"  scope="col">Накладная</th>
                      <th class="th.sm"  scope="col">Дата установки</th>
                      <th class="th.sm" scope="col">ОРШ</th>
                      <th class="th.sm"  scope="col">Примечание</th>
                      <th class="th.sm" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="table-condensed " id="tbody_main_table">
                    {% for un in object %}
                        {% if un.cod_name != 'СКЛАД' %}
                    <tr>
                      <td style="width: 30px">{{ un.id }}</td>
                      <td style="width: 130px"><a href="" data-bs-toggle="modal" data-bs-target="#SostavModal"  data-id ="{{ un.id }}" data-cod ="{{ un.cod_name }}"  >{{ un.cod_name }}</a></td>
                      <td style="width: 65px">{{ un.unit[0].type_equipment }}</td>
                      <td style="width: 150px">{{ un.organization }}</td>
                      <td>{{ un.address }}</td>
                      <td>{{ un.IP}}</td>
                      <td style="width: 100px"><a href="" data-bs-toggle="modal" data-bs-target="#inventModal"  data-inv = "{{ un.unit[0].inv_number }}" >{{ un.unit[0].inv_number }}</a></td>
                      <td>{{ un.naklodnaja }}</td>
                      <td>{{ un.install_date }}</td>
                      <td>{{ un.ORSH }}</td>
                      <td style="width:70px"><div class="clip">{{ un.note }}</div></td>
                      <td><a href="" data-bs-toggle="modal" data-bs-target="#EditModal"  data-id = "{{ un.id }}" >
                          <i class="bi bi-pencil-square h5"></i>
                      </a></td>

                    </tr>
                        {% endif %}
                     {% endfor %}

                  </tbody>
                </table>

        </main>
    </div>

    </div>

</body>

