<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <meta content="#f8f9fa" name="theme-color">

    <title>Оборудование</title>
    <link rel="shortcut icon" href="../static/images/jruby.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/custom_style.css">
    <script src="{{ url_for('static', filename='js/library/bootstrap.bundle.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/library/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pon_page_scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bad_scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/save_&_delete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/to_fill_modals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/table-sort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/for_serch_scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/for_ma_units_page_scripts.js') }}"></script>



    <script>
        function x(){alert("Привет!!")}
        // document.addEventListener('DOMContentLoaded', () => {
        //     document.documentElement.setAttribute('data-bs-theme', JSON.parse(localStorage.getItem("colar_thema")))
        //     const table = document.getElementById('tbody_main_table')
        //     const tbodies = table.getElementsByTagName('tr');
        //     document.getElementById('number_of_records').innerHTML = 'Записей отображено: ' + tbodies.length;
        //
        //
        //
        // });
    </script>
    <!--    Заполнение в модульное окно Инвентарного номера-->

    <!--    заполнение модульного окна для редактирования записи UNITS-->

    <!--    Сохранить изменение в таблице UNITS-->

    <!--    Сохранить изменения в таблицу BuchUch-->

    <!--    Удалить запись в таблице UNITS-->

    <!--    Заполнить таблицу в модульном окне Соства оборудования-->


</head>
<body>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-bs-backdrop="static" id="EditModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Изменение данных об устройстве </h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label class="col-form-label" id="id_for_edit"></label>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Место нахождения:</label>
                                    <input class="form-control" id="edit_UD_id" type="text">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Устройство/ЗИП/Склад:</label>
                                    <input class="form-control" id="edit_COD_id" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Наименование:</label>
                                    <input class="form-control" id="edit_Name_id" type="text">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Инвентарный номер:</label>
                                    <input class="form-control" id="edit_Inv_id" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Серийный номер:</label>
                                    <input class="form-control" id="edit_Serial_id" type="text">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Ряд/Шкаф/Полка:</label>
                                    <input class="form-control" id="edit_Riad_id" type="text">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Плата-место:</label>
                                    <input class="form-control" id="edit_Mesto_id" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Примечание:</label>
                            <textarea class="form-control" cols="30" id="unit_note_id" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-placement="top" data-toggle="tooltip"
                        id="button_for_save_edit_row" name="button_for_save_edit_row" title='Сохранить изменения'
                        type="button">Сохранить
                </button>
                <button class="btn btn-primary" id="button_for_delete_row" type="button">Удалить</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="close_btn_id" type="button">Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-bs-backdrop="static" id="add_new_units_Modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddNewUnits">Добавление новых устройств </h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-sm table-bordered" id="Table_for_add_new_units">
                    <thead>
                    <tr>
                        <th scope="col">Узел доступа</th>
                        <th scope="col">Оборудование</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Инвентарный номер</th>
                        <th scope="col">Серийный номер</th>
                        <th scope="col">Ряд/Шкаф/Полка</th>
                        <th scope="col">Плата место</th>
                    </tr>
                    </thead>
                    <tbody id="new_units_table_id">
                    <tr>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true" style="width: 65px"></td>
                        <td contenteditable="true" style="width: 55px"></td>

                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-placement="top" data-toggle="tooltip"
                        id="button_add_new_row" onclick="add_new_row('new_units_table_id', 7)" title='Добавить строку'
                        type="button">
                    <i class="bi bi-plus-lg"></i>
                </button>
                <button class="btn btn-primary" data-placement="top" data-toggle="tooltip"
                        id="button_del_row" onclick="del_row('new_units_table_id')" title='Удалить строку'
                        type="button">
                    <i class="bi bi-dash-lg"></i>
                </button>
                <button class="btn btn-primary" data-placement="top" data-toggle="tooltip"
                        id="button_for_save_new_units" onclick="add_new_units('new_units_table_id', 'Unit', this.id)"
                        title='Добавить новые устройства' type="button">Сохранить
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="reload_page()" type="button">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal" data-bs-backdrop="static" id="Change_pass"
     role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить пароль</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input class="form-control" id="old_pass_id" placeholder="Старый пароль" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control" id="new_pass_id" placeholder="Новый пароль, не менее 6 символов"
                           type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control" id="new_pass_2_id" placeholder="Новый пароль павторно" type="password">
                </div>
                <div class="mb-3">
                    <label class="col-form-label" id="raport_chang_pass"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="change_password();" type="button">Изменить пароль</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Отмена</button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

<!--    -->
//        Всплывающие
//        подсказки

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{# //копирование в таблицу из Excel 1#}
<script type="text/javascript">
    document.getElementById('new_units_table_id').addEventListener('paste', (e) => {
        e.preventDefault(); // Отменяем дефолтное поведение вставки
        let data = (e.clipboardData || window.clipboardData).getData('text');
        // Преобразуем в формат CSV для удобства
        let start_row = e.target.closest(`tr`).rowIndex - 1;
        let start_cell = e.target.closest(`td`).cellIndex
        console.log(start_row, start_cell);
        paste_to_cells_like_excel('new_units_table_id', data, start_row, start_cell, 7);
    });
</script>

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">

    <div class="d-grid gap-2 d-md-flex ">
        <div class="float-end">
            <a aria-controls="offcanvasWithBothOptions" class="icon-link" data-bs-target="#offcanvasWithBothOptions"
               data-bs-toggle="offcanvas" href="" style="display: inline-block;">
                <i class="bi bi-list h2 castom-white"></i>
            </a></div>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Гомельский ЗУЭС</a>

    </div>
    <li class="nav-item dropdown nav justify-content-end">
        <a aria-expanded="false" class="nav-link dropdown-toggle text-white nav justify-content-end" data-bs-toggle="dropdown"
           href="#" role="button">{{ user_name }}</a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" id="switch_to_dark_mod">Тема</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" data-bs-target="#Change_pass" data-bs-toggle="modal" href="#">Изменить
                пароль</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Выйти</a></li>
        </ul>
    </li>
</header>
<script type="text/javascript">
    document.getElementById('switch_to_dark_mod').addEventListener('click', () => {
        if (document.documentElement.getAttribute('data-bs-theme') === 'dark') {
            document.documentElement.setAttribute('data-bs-theme', 'light')
            localStorage.setItem("colar_thema", JSON.stringify('light'));
        } else {
            document.documentElement.setAttribute('data-bs-theme', 'dark')
            localStorage.setItem("colar_thema", JSON.stringify('dark'));
        }
    })
</script>
<div aria-labelledby="offcanvasWithBothOptionsLabel" class="offcanvas offcanvas-start" data-bs-scroll="true" id="offcanvasWithBothOptions"
     tabindex="-1">
    <div class="offcanvas-header">
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="d-grid gap-3">
                <button class="btn btn-primary"  type="submit" formaction="/pon_units">Оборудование PON</button>
                <button class="btn btn-primary" formaction="/multiple_access" type="submit">Многопортовые устройства
                    доступа
                </button>
                <button class="btn btn-primary" formaction="/buh_data" type="submit">Бухгалтерские данные</button>
                <button class="btn btn-primary" disabled formaction="/other_property" type="submit">Прочее имущество
                </button>
                <button class="btn btn-secondary" disabled type="submit" formaction="/pon_units_new">Тэст</button>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
      <div class="col bg-dark-subtle" >
          <div class="container side_nav_bar" >
              <nav>
                  <div class="row bg-light-subtle shadow_for_the_table" id="sidebar">
                          <header>
                              <h5 >Список УД:</h5>
                          </header>
                      <ul>
                          {% for u in ud %}
                              <li >
                                  <a href="#ud-{{ u.number_ud }}-id">{{u.name}}</a>
                              </li>
                          {% endfor %}
                      </ul>

                  </div>
              </nav>
          </div>
      </div>
        <main class="col-10 bg-body-tertiary">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Список оборудования PON</h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary btn-lg" data-bs-target="#add_new_units_Modal" data-bs-toggle="modal"
                            type="button">
                        <i class="bi bi-plus-square-fill"></i> Добавить
                    </button>
                    <button class="btn btn-primary btn-lg" onclick="save_main_table_in_file()" type="button">
                        <i class="bi bi-download"></i> Сохранить в Excel
                    </button>
                </div>
            </div>
            <div class="table-responsive small">
                <div class="container-fluid" id = 'fixed_test'>
                    <div class="form-check form-check-inline">
                        <input checked class="form-check-input" id="inlineRadio1" name="radio_serch" type="radio"
                               value="option1">
                        <label class="form-check-label" for="inlineRadio1">Поиск "И"</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="inlineRadio2" name="radio_serch" type="radio"
                               value="option2">
                        <label class="form-check-label" for="inlineRadio2">Поиск "ИЛИ"</label>
                    </div>
                    <input class="input_for_serch shadow_for_the_table" id="serch_pon_table" onkeyup="serch_pon_table()" placeholder="Поиск по таблице.."
                           type="text">

                    <div class="row">
                        <div class="col-md-auto">
                            <div class="row row-cols-auto">
                                <div class="col text-start">
                                    <div class="form-check">
                                        <input class="form-check-input" id="flexCheck_main" type="checkbox" value="">
                                        <label class="form-check-label">Отметить все</label>
                                    </div>
                                </div>
                                <div class="col text-start">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" id="flexSwitchCheckChecked" role="switch"
                                               type="checkbox">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Отоброзить
                                            отмеченные</label>
                                    </div>
                                </div>
                                <div class="col div-change-clr">
                                    <input class="btn-change-clr" data-placement="bottom" data-toggle="tooltip" id="favcolor"
                                           list="colors" title="Выделить цветом" type="color"
                                           value="#83b3fb"/>
                                    <datalist id="colors">
                                        <option label="table-primary" value="#83b3fa">
                                        <option label="table-info" value="#ace6f3">
                                        <option label="table-success" value="#87ddb6">
                                        <option label="table-danger" value="#f5abb1">
                                        <option label="table-warning" value="#f7e098">
                                    </datalist>
                                </div>
                                <div class="col div-change-clr">
                                    <input class='btn-change-clr' data-placement="bottom" data-toggle="tooltip"
                                           id="defolt_color" title="Убрать выделение" type="button"/>
                                </div>
                                <div class="col">
                                    <a href="" id="delete_checked">Удалить отмеченные</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-end">
                                    <i id='number_of_records'> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="table-responsive small">


                <table class="table table-sm table-borderless" id="main_pon_table">
                    {% for u in ud %}
                    <tbody>
                    <tr>
                        <td class="h5" width='7%' id="ud-{{ u.number_ud }}-id">{{ u.name }}</td>
                        <td class="h5">адрес: {{ u.Adress }}</td>

                    </tr>
                    {% for olt in u.cod_name_of_olt %}
                    <tr >
                        <td  colspan='2' id="td_for_pon_mod">
                            <table class="table table-sm table-hover table-borderless scale">
                                <tbody class="shadow_for_the_table ">
                                <tr>
                                    <td class="h6" width='5%'> OLT №</td>
                                    <td class="h6" width='12%'><a href="" data-bs-toggle="modal" data-bs-target="#SostavModal"  data-pon ="{{ olt.cod_name_of_olt }}" > {{ olt.cod_name_of_olt }}</a></td>
                                    <td class="h6" width='12%'> {{ olt.name }}</td>
                                    <td class="h6" width='12%'> IP: {{ olt.IP }}</td>
                                    <td class="h6" width='15%'> s/n {{ olt.serial_number }}</td>
                                    <td class="h6" width='12%'>Инв. № <a href="" data-bs-toggle="modal" data-bs-target="#inventModal"  data-id = "{{ olt.inv_number }}" > {{ olt.inv_number }}</a></td>
                                    <td class="h6" width='15%'> Ряд/Шкаф/Полка: {{ olt.row_box_shelf }}</td>
                                    <td class="h6" width='15%'> {{ olt.note }}</td>
                                    <td width='2%'>
                                        <div class="d-grid gap-1 d-md-flex">
                                            <a class="btn btn-primary btn-sm" onclick="x()">
                                                <i class="bi bi-pen"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm" onclick="x()">
                                                <i class="bi bi-box-arrow-up-right"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="multiline" colspan='9'>
                                        <table class="table table-sm table-bordered table-hover ">
                                            <thead>
                                                <tr>
                                                    <td width='2%'>
                                                        <input class="form-check-input" id="flexCheck_olt{{ olt.id }}" type="checkbox"
                                                               value="">
                                                    </td>
                                                    <td scope="col" width='2%'> №</td>
                                                    <td scope="col" width='11%'> Тип</td>
                                                    <td scope="col" width='30%'> Наименование</td>
                                                    <td scope="col" width='20%'> Зоводской номер</td>
                                                    <td scope="col"  width='15%'> Инвентарный</td>
                                                    <td scope="col" width='20%'> Примечание</td>
                                                    <td width='2%'></td>
                                                </tr>

                                            </thead>
                                            <tbody>
                                            {% for m in olt.list_of_modules %}
                                            <tr>
                                                <td width='2%'>
                                                    <input class="form-check-input" id="flexCheck_modul{{ m.id }}" type="checkbox"
                                                           value="">
                                                </td>
                                                {% if m.Olt_sockets.socket == -1 %}
                                                <td > fun</td>
                                                {% else %}
                                                <td > {{ m.Olt_sockets.socket }}</td>
                                                {% endif %}
                                                <td > {{ m.type_of_modules }}</td>
                                                <td > {{ m.name_of_modules }}</td>
                                                <td > {{ m.serial_number }}</td>
                                                <td><a href="" data-bs-toggle="modal" data-bs-target="#inventModal"  data-id = "{{ m.inv_number }}" > {{ m.inv_number }}</a></td>
                                                <td > {{ m.note }}</td>
                                                <td >
                                                    <div class="d-grid gap-1 d-md-flex">
                                                        <a class="btn btn-primary btn-sm" id="edir_row_data_btn" data-id="{{m.id}}"  data-bs-toggle="modal" data-bs-target="#edir_row_data_modal">
                                                            <i class="bi bi-pen"></i>
                                                        </a>
                                                        <a class="btn btn-primary btn-sm" id="move_item_btn" data-id="{{m.id}}"  data-bs-toggle="modal" data-bs-target="#move_item_modal">
                                                            <i class="bi bi-box-arrow-up-right"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
      <div class="col bg-dark-subtle" >

      </div>
    </div>
    <!--   редактировать ячейки таблицы двойным кликом-->
    <script>
         let serch_line = document.getElementById('serch_pon_table').classList
         let active_class = "serch_scrolled"
        window.addEventListener('scroll', e => {
            // console.log(pageYOffset)
            if(pageYOffset > 111.1) serch_line.add(active_class)
            else serch_line.remove(active_class)
        })
        // document.querySelectorAll('td').forEach(td => {
        //     td.ondblclick = function () {
        //         this.contentEditable = true;
        //     };
        // });


        document.getElementById('flexCheck_main').addEventListener("change", function () {
            if (this.checked) {
                check_all_visible_main_table(true)
            } else {
                check_all_visible_main_table(false);
            }
        });
        document.getElementById('flexSwitchCheckChecked').addEventListener("change", function () {
            if (this.checked) {
                show_checked_main_table(true)
            } else {
                show_checked_main_table(false);
            }
        });
        document.getElementById('favcolor').addEventListener("change", function () {
            console.log(this.value)
            set_custom_bg_color_main_table('Units', true, this.value)
        });
        document.getElementById('defolt_color').addEventListener("click", function () {
            console.log(this.value)
            set_custom_bg_color_main_table('Units', false)
        });
        document.getElementById('delete_checked').addEventListener("click", function (e) {
            e.preventDefault();
            let table = document.getElementById('tbody_main_table');
            let tr = table.getElementsByTagName('tr');
            if (confirm('Удалить выбранные данные?')) {
                for (var i = 0; i < tr.length; i++) {
                    tds = tr[i].getElementsByTagName('td');
                    if (tds[0].querySelector('.form-check-input').checked === true) {
                        delete_row_list('Unit', tds[0].dataset.id, tr[i])
                    }
                }
            }

        });
    </script>
</div>
<div class="modal fade" id="inventModal" data-bs-backdrop="static" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inventModalLabel">Карточка устройства</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label class="col-form-label" id="id_buh"></label>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Инвентарный номер:</label>
                                    <input type="text" readonly class="form-control" name="name" id = "In_num">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">МОЛ:</label>
                                    <select class="form-select" aria-label="Default select example" id = 'select_mol_id'>
                                        {% for mol in mols %}
                                        <option value="{{ mol.id }}">{{ mol.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Краткое описание:</label>
                        <input type="text"  class="form-control" id="description_id">
                    </div>
                    <div class="mb-3">
                        <label  class="col-form-label">Характеристика:</label>
                        <textarea  class="form-control" id="char_id" cols="30" rows="7"></textarea>
                    </div>
                    <div class="mb-3">
                        <label  class="col-form-label">Примечание:</label>
                        <textarea  class="form-control" id="note_id" cols="30" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id = "button_for_save_edit_buh_data" onclick="save_edit_buh_data()" data-toggle="tooltip" data-placement="top" title="Записать изменения">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SostavModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Состав Оборудования</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  ></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Место расположения:</label>
                                    <input type="text" readonly class="form-control" id="Ud_id" >
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">IP  адрес:</label>
                                    <input type="text"  class="form-control" id="ip_id">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">№ OLT:</label>
                                    <input type="text"  class="form-control" id="olt_id" >
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Инвентарный номер:</label>
                                    <input type="text"  class="form-control" id="inv_id" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Устройство:</label>
                                    <input type="text" readonly class="form-control" id="PON_id" >
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Заводской номер:</label>
                                    <input type="text"  class="form-control" id="serial_id" >
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Дата выпуска:</label>
                                    <input type="text"  class="form-control" id="date_pr_id"  >
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Дата ввода в экспуатацию:</label>
                                    <input type="text"  class="form-control"  id="date_exp_id">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Наименование:</label>
                                    <input type="text"  class="form-control" id="full_name_id" name="name2">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Ряд/Шкаф/Полка:</label>
                                    <input type="text"  class="form-control" id="mesto_id" >
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <label class="col-form-label">Завод изготовитель:</label>
                                    <input type="text"  class="form-control" id="zavod_id" >
                                </div>
                            </div>
                            <div class="col-sm d-flex">
                                <div class="mb-3 d-flex" >

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive small">
                        <table class="table table-striped table-sm table-bordered table-sort table-hover" id="Sostav_Modal_table">
                            <thead>
                            <tr>
                                <th scope="col">П/М</th>
                                <th scope="col">Инвентарный номер</th>
                                <th scope="col">Наименование оборудования</th>
                                <th scope="col">Заводской номер</th>
                                <th scope="col">Примечание</th>
                            </tr>
                            <tr>
                                <th scope="col">1</th>
                                <th scope="col">2</th>
                                <th scope="col">3</th>
                                <th scope="col">4</th>
                                <th scope="col">5</th>
                            </tr>
                            </thead>
                            <tbody id="t_body"></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id = "save_kts" onclick="save_kts_data(this.id)" data-toggle="tooltip" data-placement="top" title='Сохранить изменения'>
                    <i class="bi bi-floppy"></i>
                </button>
                <button type="button" class="btn btn-primary" id = "kts" onclick="downloadFile(this.id)" data-toggle="tooltip" data-placement="top" title='Скачать КТС'>КТС</button>
                <button type="button" class="btn btn-primary" id = "sostav" onclick="downloadFile(this.id)" data-toggle="tooltip" data-placement="top" title='Скачать Состав оборудования'>Состав оборудования</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#inventModal').on('show.bs.modal', function (e) {
        $(this).find('form').trigger('reset');
        const param = $(e.relatedTarget).data('id');
        var user = {{user_name | tojson}}
        invent_modal(param, user);
    })
    // Заполнить таблицу в модульном окне Соства оборудования
    $('#SostavModal').on('show.bs.modal', function (e) {
        $(this).find('form').trigger('reset');
        var dataPon = $(e.relatedTarget).data('pon');
        var dataUd = $(e.relatedTarget).data('ud');
        to_fill_sostav_modal(dataPon, dataUd)})

</script>
</body>

