{% extends "base.html" %}

{% block title%}Главное меню{% endblock %}
{% block DOMloadscripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('body').classList.add('start_page_body')
        document.getElementById('remove-border-bottom').classList.remove('border-bottom')
        document.getElementById('add_fun_block').remove()
        document.getElementById('offcanvasWithBothOptions').setAttribute('data-bs-backdrop', 'static')
        document.getElementById('btn_offcanvas').click()
    });
</script>
{% endblock %}
